{% extends 'common/base.html' %}
{% load static %}
{% block title %} Assign Task {{ block.super }} {% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Assign Task</h3>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
<!-- Select issue -->
<div class="mb-3">
    <select name="issue" class="form-select" aria-label="Disabled select example">
        <option class="disabled">Select Issue</option>
        {% for issue in issues %}
            <option value="{{ issue.id }}">
                {{ issue.ticket_number }} - by {{ issue.user.username }} - on {{ issue.created_at|date:"d/m/Y" }}
            </option>
        {% endfor %}
    </select>
</div>


                            <!-- Notes -->
                            <div class="mb-3">
                                <label for="id_notes" class="form-label">Notes</label>
                                <textarea name="notes" class="form-control" rows="5" placeholder="Provide a brief description"></textarea>
                            </div>
                            <!-- Select issue -->
                            <div class="mb-3">
                                <select name="assigned_to" class="form-select" aria-label="Disabled select example">
                                    <option class="disabled">Assign To?</option>
                                    {% for support_staff in support_staffs %}
                                        <option value="{{ support_staff.id }}">{{ support_staff.username }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <!-- Assign buttons -->
                            <div class="text-center">
                                <button type="submit" class="btn btn-success btn-block">Assign</button>
                                <a href="{% url 'accounts:home' %}" class="btn btn-outline-warning btn-block">Back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
