<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <h1>Admin Panel</h1>
    <p><Strong><a href="{% url 'admin_panel:assign' %}">Assign Task</a></Strong></p>
    <!-- Display Users -->
    <h2>Users</h2>
    <!-- Display the support staff -->
    <p><strong>Support Staff</strong></p>
    <ul>
        {% for support_staff_user in support_staff_users %}
            <li>{{ support_staff_user.username }}</li>
            <li>{{ support_staff_user.email }}</li>
            <li>{{ support_staff_user.user_type }}</li>
        {% endfor %}
    </ul>
    <!-- Display the support staff -->
    <p><strong>clients</strong></p>
    <ul>
        {% for client_user in client_users %}
            <li>{{ client_user.username }}</li>
            <li>{{ client_user.email }}</li>
            <li>{{ client_user.user_type }}</li>
        {% endfor %}
    </ul>

    <!-- Display Issues -->
    <h2>Issues</h2>
    <!-- Display the issues submitted -->
    <p><strong>Clients' Issues</strong></p>
    <ul>
        {% for issue in all_issues %}
            <li>{{ issue.ticket_number }}</li>
            <li>{{ issue.user.username }}</li>
            <li>{{ issue.user.user_type }}</li>
        {% endfor %}
    </ul>

    <!-- Display Issues -->
    <h2>Assignments</h2>
    <!-- Display the issues submitted -->
    <p><strong>Assignments</strong></p>
    <ul>
        {% for assignment in assignments %}
            <li>{{ assignment.issue.ticket_number }}</li>
            <li>{{ assignment.notes }}</li>
            <li>{{ assignment.assigned_to }}</li>
            <li>{{ assignment.is_completed }}</li>
            <li>{{ assignment.progress_status }}</li>
            <li>{{ assignment.assigned_at }}</li>
            <li>{{ assignment.updated_at }}</li>
            <li><a href="{% url 'admin_panel:update_assignment' assignment.id %}">Update</a></li>

        {% endfor %}
    </ul>

</body>
</html>