<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    {% if user.is_authenticated %}
        <a href="{% url 'accounts:logout' %}">Logout</a>
        {% if user.is_superuser %}
            <p><strong>Support Staff</strong></p>
            <!-- Display the support staff -->
            <ul>
                {% for support_staff_user in support_staff_users %}
                    <li>{{ support_staff_user.username }}</li>
                    <li>{{ support_staff_user.email }}</li>
                    <li>{{ support_staff_user.user_type }}</li>
                {% endfor %}
            </ul>
        <!-- Otherwise, for clients -->
        {% else %}
            <a href="{% url 'clients:submit_issue' %}">Submit an Issue</a>
        {% endif %}
    {% endif %}
    
</body>
</html>
