{% extends 'common/base.html' %}
{% block title %} Home {{ block.super }} {% endblock %}
{% block content %}

    <h1>Home Page</h1>
    {% if user.is_authenticated %} <!-- If user is logged in -->
        
        <a href="{% url 'clients:submit_issue' %}">Submit an Issue</a>
        {% if issues %} <!-- If the client submitted an issue -->
            <h2>Your issues</h2>
            <ul>
                {% for issue in issues %}
                    <li>{{ issue.ticket_number }}</li>
                    <li>{{ issue.description }}</li>
                    <li>{{ issue.attachment }}</li>
                    <li>{{ issue.created_at }}</li>
                    
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}


{% endblock %}

