<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    {% if user.is_authenticated %} <!-- If user is logged in -->
        <a href="{% url 'accounts:logout' %}">Logout</a>
        <a href="{% url 'clients:submit_issue' %}">Submit an Issue</a>
        {% if issues %} <!-- If the client submitted an issue -->
            <h2>Your issues</h2>
            <ul>
                {% for issue in issues %}
                    <li>{{ issue.ticket_number }}</li>
                    <li>{{ issue.description }}</li>
                    <li>{{ issue.attachment }}</li>
                    <li>{{ issue.created_at }}</li>
                    
                {% endfor %}
            </ul>
        {% endif %}
        
    {% else %} <!-- If user is not authenticated -->
    <p><a href="{% url 'accounts:login' %}">Login</a> | <a href="{% url 'accounts:register' %}">Register</a></p>
    {% endif %}

</body>
</html>
