{% extends 'common/base.html' %}
{% block title %} My Tasks {{ block.super }} {% endblock %}
{% block content %}


    <div class="jumbotron jumbotron-fluid">
        <div class="container mt-4">
            {% if assigned_tasks %}
            <h3 class="mt-4">Tasks assigned to you, {{ request.user }}</h3>
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                <!-- Display the assigned tasks -->
                {% for task in assigned_tasks %}
                <div class="col mb-4">
                    <div class="card ">
                        <div class="card-body">
                            <h5 class="card-title">Issue: {{ task.issue.ticket_number }}</h5>
                            <p class="card-text">Notes: {{ task.notes }}</p>
                            <p class="card-text">Progress Status: {{ task.progress_status }}</p>
                            <p class="card-text">Assigned To: {{ task.assigned_to }}</p>
                            
                            <a class="btn btn-success" style="animation: swing 1s infinite;" href="{% url 'tasks:update_task' task.id %}">Update</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <p>No tasks assigned</p>
            {% endif %}
        </div>
    </div>

{% endblock %}